---
layout: default
---

{% assign num = page.photos.size %}

<center><h2>{{ page.title }}</h2></center>
<br />

<table style='width: 100%'
    <colgroup>
       <col span='1' style='width: 15%;'>
       <col span='1' style='width: 70%;'>
       <col span='1' style='width: 15%;'>
    </colgroup>
    
    
    
    <!-- Put <thead>, <tbody>, and <tr>'s here! -->
    <tbody style="border: 0;">
        <tr style="border: 0;">
            <td></td>
            <td>
			{{ page.set_description }}
            </td>
            <td></td>
        </tr>
    </tbody>
</table>

<br />

<ul>
  <center>
  {% for i in (1..num) %}
  <ul>
    <img src="{{ site.baseurl }}/images/photos/{{ page.photos.set }}-{{ i }}.jpg" width="75%" alt="Photo {{ i }} from {{ page.photos.set | capitalize }}"><br />
	<br />
  </ul>
  {% endfor %}
  </center>
</ul>
<div>
  <a href="{{ site.baseurl }}/photos/">View All Photo Sets</a>
</div>